.aboutPadre {
  padding-top: 20vh;
  display: flex;
  flex-wrap: wrap;
}

.sobremi {
  width: 100%;
  font-weight: 900;
  padding-left: 22vh;
  font-size: 3rem;
  margin-bottom: 10px;
}

.divImag img {
  padding: 2vh 3vw 0vh 10vw;
  max-width: 20vw;
}

.divParr p {
  padding-top: 3vh;
  max-width: 55vw;
  text-align: justify;
  text-justify: inter-word;
}

.button {
  text-align: center;
  padding-top: 3vh;
}

.fontbutton {
  background-color: rgba(255, 253, 140, 0.1);
  padding: 15px;
  border-radius: 15px;
}

.fontbutton:hover {
  background-color: rgba(255, 253, 140, 0.5);
  font-size: 1.05rem;
  transition: all 0.2s;
  border-radius: 10rem;
  font-weight: 700;
}

@media (max-width: 700px) {
  .aboutPadre {
    padding-top: 7vh;
    display: block;
    flex-wrap: wrap;
    text-align: center;
  }
  .sobremi {
    width: 100%;
    font-weight: 900;
    padding: 0;
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .divImag img {
    padding: 1vh 1vw 1vh 1vw;
    max-width: 50vw;
    border-radius: 50%;
  }

  .divParr p {
    margin: auto;
    max-width: 80vw;
    text-align: justify;
    text-justify: inter-word;
  }
  .button {
    text-align: center;
    padding-bottom: 10vh;
    padding-top: 7vh;
  }
}
