/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1.2rem;
  background-color: white;
  background-image: rgba(55, 55, 55, 1);
  border-color: white;
  background-clip: text;
  opacity: 0.4;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  opacity: 1;
  background-color: white;
  border-color: yellow;
  background-clip: text;
}
/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: rgba(4, 253, 116, 0.2);
  padding: 1rem 8rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 2rem;
}

input[type="submit"]:hover {
  background-color: rgba(4, 253, 116, 0.5);
}

.container {
  text-align: left;
  width: 75vw;
  background: linear-gradient(
    0deg,
    rgba(90, 247, 215, 0.1) 20%,
    rgba(244, 208, 63, 0.1) 80%
  );
  background-size: cover;
  box-decoration-break: slice;
  background-attachment: fixed;

  padding: 10px 50px 10px 50px;
  border-radius: 2rem;
  margin-bottom: 5rem;
  padding-top: 1.5rem;
}

label {
  font-weight: 300;
  font-size: 2rem;
}

.submitsub {
  text-align: center;
}

@media (max-width: 700px) {
  .container {
    padding: 10px 30px 10px 30px;
    border-radius: 2rem;
    margin-bottom: 5rem;
    padding-top: 1.5rem;
    width: 75%;
    margin: 2rem auto;
  }
  label {
    font-weight: 500;
    font-size: 1.5rem;
  }

  input[type="submit"] {
    background-color: rgba(4, 253, 116, 0.2);
    padding: 1rem 5rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 0px;
    font-size: 1.2rem;
  }
}
