.divTotal {
  position: fixed;
  display: block;
  z-index: 100;
}

nav {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(25, 25, 25, 0.85);
  backdrop-filter: blur(4px);
}

.lineNav {
  background: linear-gradient(
    90deg,
    rgba(25, 25, 25, 0) 5%,
    rgba(244, 208, 63, 1) 50%,
    rgba(25, 25, 25, 0) 95%
  );
  width: 100vw;
  height: 2px;
  filter: drop-shadow(0 5px 5px #ffd323);
}

:root {
  --text-color: #fff;
  --cursor-color: #eee;
}

.logo {
  padding-left: 2rem;
  color: white;
  font-size: 45px;
  border-right: 30px solid var(--cursor-color);

  width: 0;
  white-space: nowrap;
  overflow: hidden;

  animation: typewriter 1s steps(3) 1s forwards, blink 3.5s forwards;
}

@keyframes typewriter {
  to {
    width: 3.2ch;
  }
}

@keyframes blink {
  0% {
    border-right-color: transparent;
  }
  16% {
    border-right-color: var(--cursor-color);
  }
  32% {
    border-right-color: transparent;
  }
  48% {
    border-right-color: var(--cursor-color);
  }
  60% {
    border-right-color: transparent;
  }
  72% {
    border-right-color: var(--cursor-color);
  }
  100% {
    border-right-color: transparent;
  }
}

ul li {
  display: inline-block;
  padding-right: 10px;
}

.link {
  color: #f4d03f;
  text-decoration: none;
}

li:hover {
  font-size: 1.1rem;
  filter: drop-shadow(0 0 0.4rem #f4d03f);
}

@media (max-width: 700px) {
  .logo {
    padding-left: 1rem;
    color: white;
    font-size: 25px;
    border-right: 15px solid var(--cursor-color);
    padding: 10px 0px 10px 20px;
  }
  ul li {
    display: inline-block;
    padding-right: 15px;
    font-size: 0.85rem;
  }

  .link {
    color: #f4d03f;
    text-decoration: none;
  }
}
